@{
    ViewBag.Title = "La Capital";
    Layout = "~/Views/Shared/_MagazineLayout.cshtml";
}

<div class="f-page f-cover">
    <div class="cover-elements">
        <h2>La Capital</h2>
        <h4>@ViewBag.id</h4>
    </div>

</div>
<div class="f-page f-cover-back">
    <div class="cover-elements">
        <h2>Popo</h2>
    </div>
</div>
