<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ReadMagazineEntities" connectionString="metadata=res://*/Concrete.ORM.ReadMagazineModel.csdl|res://*/Concrete.ORM.ReadMagazineModel.ssdl|res://*/Concrete.ORM.ReadMagazineModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOTEBOOK-ACER;initial catalog=ReadMagazine;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>