
@{
    ViewBag.Title = "ReadMagazine";
    Layout = "~/Views/Shared/_MagazineLayout.cshtml";
}


<div class="f-page f-cover">
   
    @{Html.RenderPartial("Login");}
</div>
<div class="f-page f-cover-back">
    @{Html.RenderPartial("SignUp");}
</div>


